@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .menu__btn {
    margin: 0 90px 0 0;
  }
  //Секция HEAD
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding: 107px 0 0 0;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      min-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      bottom: calc(50% - 70px);
    }
  }

  // Секция CALL
  .call {
    // .call__inner

    &__inner {
      padding: 0 80px;
    }

    // .call__box

    &__box {
      max-width: 796px;
    }

    // .call__title

    &__title {
    }

    // .call__text

    &__text {
    }

    // .call__btn

    &__btn {
    }
  }
  .container {
  }

  // Секция SERVICES
  .services {
    padding: 0;
    // .services__inner

    &__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 0 -50px;
    }

    // .services__head

    &__head {
      min-width: 350px;
      max-width: 350px;
      margin: 0 100px 0 0;
    }

    // .services__title

    &__title {
      margin: 90px 0 70px 0;
      text-align: left;
    }

    // .services__descr

    &__descr {
      padding: 0 0 38px 0;
      margin: 0 0 35px 0;
    }

    // .services__text

    &__text {
    }

    // .services__items

    &__items {
      margin: 0;
    }

    // .services__item

    &__item {
      width: 230px;
      height: 273px;
      padding: 0 5px;
      &:hover {
        .services__item-text,
        .services__item-link {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    // .services__item-inner

    &__item-inner {
      transition: all 0.5s;
    }

    // .services__item-img

    &__item-img {
    }

    // .services__item-title

    &__item-title {
    }

    // .services__item-text

    &__item-text {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }

    // .services__item-link

    &__item-link {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
  .container {
  }
  .title {
  }

  // Секция project
  .project {
    // .project__title

    &__title {
    }

    // .project__items

    &__items {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    // .project__item

    &__item {
      margin: 0;
    }

    // .project__item-img

    &__item-img {
      width: 300px;
    }

    // .project__item-inner

    &__item-inner {
    }

    // .project__item-info

    &__item-info {
    }

    // .project__item-search

    &__item-search {
    }

    // .project__item-link

    &__item-link {
    }
  }
  .container {
  }
  .title {
  }

  .team {
    padding: 50px 0 110px;
    // .team__inner

    &__inner {
    }

    // .team__images

    &__images {
      width: 470px;
      margin-right: 93px;
    }

    // .team__content

    &__content {
    }

    // .team__title

    &__title {
      margin-bottom: 40px;
    }

    // .team__text

    &__text {
      margin-bottom: 40px;
    }

    // .team__btn

    &__btn {
    }
  }
  .container {
  }
  .title {
  }

  // Секция LASTNEWS
  .lastnews {
    padding: 52px 0 80px;
    // .lastnews__title

    &__title {
    }

    // .lastnews__items

    &__items {
      padding: 115px 0 0;
      margin: 0 33px;
    }

    // .lastnews__item

    &__item {
    }

    // .lastnews__item-inner

    &__item-inner {
    }

    // .lastnews__item-img

    &__item-img {
    }

    // .lastnews__item-title

    &__item-title {
    }
  }
  .container {
  }
  .title {
  }
  .grid {
  }
  .grid-item {
  }

  .comments {
    padding: 100px 289px 145px;
    // .comments__inner

    &__inner {
    }

    // .comments__slider

    &__slider {
    }
  }
  .container {
  }
  .slider {
    // .slider__item

    &__item {
    }

    // .slider__quotes

    &__quotes {
    }

    // .slider__text

    &__text {
    }

    // .slider__text-accent

    &__text-accent {
    }

    // .slider__name

    &__name {
    }
  }

  // Секция footer
  .footer {
    // .footer__inner

    &__inner {
      position: relative;
      padding: 158px 0 108px;
    }

    // .footer__logo

    &__logo {
      left: 520px;
    }

    // .footer__logo-link

    &__logo-link {
      position: absolute;
      left: 74px;
    }

    // .footer__logo-img

    &__logo-img {
    }

    // .footer__proposal

    &__proposal {
      width: 751px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin: 0 auto 80px;
    }

    // .footer__social-items

    &__social-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 63px;
      width: 1140px;
      justify-content: space-between;
      margin: 0 auto 80px;
    }

    // .footer__social-item

    &__social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 63px;
      border: 1px solid #7ebf84;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    // .footer__social-icon

    &__social-icon {
    }

    // .footer__help-items

    &__help-items {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 117px;
      width: 940px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }

    // .footer__help-item

    &__help-item {
      display: flex;
      flex-direction: column;
      width: 176px;
      text-align: center;
    }

    // .footer__help-heading

    &__help-heading {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      color: #f9f6e5;
      margin: 0 0 18px 0;
    }

    // .footer__help-phone

    &__help-text {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
    }

    // .footer__help-email

    &__help-email {
    }

    // .footer__help-address

    &__help-address {
    }

    // .footer__help-howto

    &__help-howto {
    }

    // .footer__help-digital

    &__help-digital {
    }

    // .footer__help-price

    &__help-price {
    }

    // .footer__help-projects

    &__help-projects {
    }

    // .footer__help-team

    &__help-team {
    }

    // .footer__help-blog

    &__help-blog {
    }
  }
  .container {
  }
}
