@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .menu__btn {
    margin: 0 90px 0 0;
  }
  //Секция HEAD
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding: 107px 0 0 0;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      min-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      bottom: calc(50% - 70px);
    }
  }

  // Секция CALL
  .call {
    // .call__inner

    &__inner {
      padding: 0 80px;
    }

    // .call__box

    &__box {
      max-width: 796px;
    }

    // .call__title

    &__title {
    }

    // .call__text

    &__text {
    }

    // .call__btn

    &__btn {
    }
  }
  .container {
  }

  // Секция SERVICES
  .services {
    padding: 0;
    // .services__inner

    &__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 0 -50px;
    }

    // .services__head

    &__head {
      min-width: 350px;
      max-width: 350px;
      margin: 0 100px 0 0;
    }

    // .services__title

    &__title {
      margin: 90px 0 70px 0;
      text-align: left;
    }

    // .services__descr

    &__descr {
      padding: 0 0 38px 0;
      margin: 0 0 35px 0;
    }

    // .services__text

    &__text {
    }

    // .services__items

    &__items {
      margin: 0;
    }

    // .services__item

    &__item {
      width: 230px;
      height: 273px;
      padding: 0 5px;
      &:hover {
        .services__item-text,
        .services__item-link {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    // .services__item-inner

    &__item-inner {
      transition: all 0.5s;
    }

    // .services__item-img

    &__item-img {
    }

    // .services__item-title

    &__item-title {
    }

    // .services__item-text

    &__item-text {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }

    // .services__item-link

    &__item-link {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
  .container {
  }
  .title {
  }
}
