// HEADER
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
  .container {
    padding: 0 30px;
  }
  .logo__link {
    margin: 0 0 0 14px;
  }

  // HEAD

  .head {
    min-height: 386px;
    // background-position: -162px center;
  }
  .top-slider {
    &__item {
      min-height: 386px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 50px 0 15px;
      margin: 0 auto 30px;
      max-width: 520px;
    }
    &__btn {
      display: block;
      margin: 0 auto 113px;

      font-size: 18px;
      background: $accent;
      color: $bg-color;
      padding: 16px 45px;
      border: none;
      border-radius: 3px;
    }
    .slick-dots {
      bottom: 50px;
    }
    .slick-arrow {
      width: 56px;
      height: 56px;
      border: none;
      position: absolute;
      right: 0;
      z-index: 5;
    }
    .slick-prev {
      background: $accent;
      top: calc(50% - 56px);
    }
    .slick-next {
      background: $bg-color;
      bottom: calc(50% - 56px);
    }
  }

  // Секция CALL
  .call {
    // .call__inner

    &__inner {
    }

    // .call__box

    &__box {
    }

    // .call__title

    &__title {
    }

    // .call__text

    &__text {
    }

    // .call__btn

    &__btn {
    }
  }
  .container {
  }

  // Секция Services
  .services {
    padding: 24px 0 0;
    // .services__inner

    &__inner {
    }

    // .services__head

    &__head {
    }

    // .services__title

    &__title {
      margin: 0 0 20px 0;
      padding: 0 0 0 0;
      &::after {
        display: none;
      }
    }

    // .services__descr

    &__descr {
      font-size: 24px;
      padding: 0 0 38px 0;
      margin: 0 0 31px 0;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 8px;
        background: $accent;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }

    // .services__text

    &__text {
      font-size: 18px;
      line-height: 24px;
    }

    // .services__items

    &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }

    // .services__item

    &__item {
      min-height: 310px;
      width: 50%;
      &:nth-child(even) {
        border-left: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }

    // .services__item-inner

    &__item-inner {
    }

    // .services__item-img

    &__item-img {
    }

    // .services__item-title

    &__item-title {
    }

    // .services__item-text

    &__item-text {
    }

    // .services__item-link

    &__item-link {
    }
  }
  .container {
  }
  .title {
    font-size: 48px;
    line-height: 56px;
    &::after {
      width: 100px;
    }
  }

  // Секция Project
  .project {
    padding: 40px 0 20px;
    // .project__title

    &__title {
    }

    // .project__items

    &__items {
    }

    // .project__item

    &__item {
    }

    // .project__item-img

    &__item-img {
      min-height: 460px;
      padding: 21px 24px;
    }

    // .project__item-inner

    &__item-inner {
      min-height: 417px;
    }

    // .project__item-info

    &__item-info {
    }

    // .project__item-search

    &__item-search {
    }

    // .project__item-link

    &__item-link {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .container {
  }
  .title {
  }

  // Секция TEAM

  .team {
    padding: 46px 0 53px;
    // .team__inner

    &__inner {
    }

    // .team__images

    &__images {
    }

    // .team__content

    &__content {
    }

    // .team__title

    &__title {
      margin: 0 0 40px 0;
    }

    // .team__text

    &__text {
      margin: 0 0 56px 0;
    }

    // .team__btn

    &__btn {
      font-size: 20px;
    }
  }
  .container {
  }
  .title {
  }

  // Секция lastnews
  .lastnews {
    // .lastnews__title

    &__title {
      font-size: 48px;
      line-height: 38px;
    }

    // .lastnews__items

    &__items {
      padding-top: 60px;
    }

    // .lastnews__item

    &__item {
    }

    // .lastnews__item-inner

    &__item-inner {
    }

    // .lastnews__item-img

    &__item-img {
    }

    // .lastnews__item-title

    &__item-title {
    }
  }
  .container {
  }
  .title {
  }

  .comments {
    // .comments__inner

    &__inner {
    }

    // .comments__slider

    &__slider {
    }
  }
  .container {
  }
  .slider {
    // .slider__item

    &__item {
    }

    // .slider__quotes

    &__quotes {
    }

    // .slider__text

    &__text {
      padding: 40px 20px 40px;
    }

    // .slider__text-accent

    &__text-accent {
    }

    // .slider__name

    &__name {
    }
  }

  // Секция footer
  .footer {
    // .footer__inner

    &__inner {
      position: relative;
      padding: 85px 0 125px;
    }

    // .footer__logo

    &__logo {
      
      left: 180px;
      
    }

    // .footer__logo-link

    &__logo-link {
      position: absolute;
      left: 74px;
    }

    // .footer__logo-img

    &__logo-img {
    }

    // .footer__proposal

    &__proposal {
      
      
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin: 0 0 40px 0;
    }

    // .footer__social-items

    &__social-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 57px;
      width: 560px;
      justify-content: space-between;
      margin: 0 0 40px 0;
    }

    // .footer__social-item

    &__social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 57px;
      border: 1px solid #7ebf84;
      &:first-child{
        border-left:none;
      }
      &:last-child{
        border-right:none;
      }
    }

    // .footer__social-icon

    &__social-icon {
    }

    // .footer__help-items

    &__help-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 222px;
      width: 492px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }

    // .footer__help-item

    &__help-item {
      display: flex;
      flex-direction: column;
      width: 176px;
      text-align: center;
    }

    // .footer__help-heading

    &__help-heading {
      
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
      color: #f9f6e5;
      margin: 0 0 18px 0;
    }

    // .footer__help-phone

    &__help-text {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
    }

    // .footer__help-email

    &__help-email {
    }

    // .footer__help-address

    &__help-address {
    }

    // .footer__help-howto

    &__help-howto {
    }

    // .footer__help-digital

    &__help-digital {
    }

    // .footer__help-price

    &__help-price {
    }

    // .footer__help-projects

    &__help-projects {
    }

    // .footer__help-team

    &__help-team {
    }

    // .footer__help-blog

    &__help-blog {
    }
  }
  .container {
  }
}
